// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  color: #cccccc;
  background-color: #303030;
}

#wrap{
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  width: 100%;
  background-color: #444444;
}

header {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #222222;
}

h1 {
  color: #eeeeee;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

h1 i {
  margin-right: 5px;
}

#container {
  margin: 15px;
}

#descriptionBox p {
  margin-top: 3px;
  font-size: 10px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.formBox {
  width: auto;
  margin-top: 20px;
  text-align: center;
}

.formBox form {
  display: -moz-inline-box;
  display: inline-block;
}

.formBox form input {
  width: auto;
  font-size: 10px;
  color: #303030;
  margin: 2px;
}

.form-control {
  display: -moz-inline-box;
  display: inline-block;
}

#menuBox {
  margin: 15px;
  padding: 10px;
  background-color: #303030;
  border-radius: 6px 12px;
}

p {
  margin: auto;
  font-size: 12px;
}

#statisticBox table {
  margin-top: 40px;
  margin-left: 10px;
  width: 100%;
  text-align: center;
}

#statisticBox td {
  font-size: 10px;
  min-width: 30px;
}

#statisticBox td.x-large-score {
  background-color: rgba(4,39,112,0.8);
}

#statisticBox td.large-score {
  background-color: rgba(6,50,145,0.8);
}

#statisticBox td.middle-score {
  background-color: rgba(8,66,188,0.8);
}

#statisticBox td.small-score {
  background-color: rgba(21,83,216,0.8);
}

#statisticBox td.x-small-score {
  background-color: rgba(64,112,215,0.8);
}

#statisticBox td.none-score {
  background-color: rgba(0,0,0,0);
}

#statisticBox td.tableLine {
  border: 1px dotted #303030;
}

.clearText {
	color: rgba(0,0,0,0);
}

footer {
  width: 100%;
  height: 40px;
  margin-top: 50px;
  padding: 10px;
  background-color: #303030;
}

footer p {
  text-align: center;
}
